.card {
    width: 48%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #e9d100;
    color: #000;
    font-size: 17px;
}

.ant-rate {
    font-size: 18px;
}

.title-rating {
    width: 80%;
}

.title {
    width: 100%;
}

@media screen and (max-width: 1075px) {
    .ant-rate {
        font-size: 14px;
    }
}

@media screen and (max-width: 865px) {
    .card {
        width: 80%;
    }

    .ant-rate {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 100%;
    }
}
